$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'addquestions/addquestions.scss';
@import 'main/main.scss';
@import 'questions/questions.scss';
@import 'modal/modal.scss';
// endinjector


.hero-unit {
	background-color: white;
	color: black
}

.m-b-25 {
	margin-bottom: 25px;
}

.tag {
	margin: 10px;
	display: inline-block;
	background-color: grey;
	color: white;
	padding: 10px;
	border-radius: 5px;
}


hr {width: 100%; color: black; height: 1px; background-color:black;}
